@model Dog

<div class="col-lg-6">
    <h3 style="color:ghostwhite" class="badge-pill bg-primary text-center">Add New Dog</h3>
</div>

<div class="container pl-sm-5">
    <form enctype="multipart/form-data" asp-action="Create" method="post">
        <input type="hidden" asp-for="Id" />
        <table>
            <tr>
                <th><label>Profile Picture URL:</label></th>
                <td>
                    <input type="url" name="file"  class="form-control mr-sm-2" />
                </td>
            </tr>
            <tr>
                <th> Name: </th>
                <td> <input asp-for="Name" class="form-control mr-sm-2" placeholder="Name" aria-label="Name" /></td>
            </tr>
            <tr>
                <th> Breed: </th>
                <td> <input asp-for="Breed" class="form-control mr-sm-2" placeholder="Breed" aria-label="Breed" /></td>
            </tr>
            <tr>
                <th> Birthday: </th>
                <td> <input asp-for="Birthday" type="date" class="form-control mr-sm-2" placeholder="Birthday" aria-label="Birthday" /></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" 
                           asp-controller="Dog" 
                           asp-action="Create"
                           value="Add Dog" 
                           class="badge-pill badge-primary" 
                           formmethod="post"/>
                    <input type="submit"
                           asp-controller="Dog"
                           asp-action="Index"
                           formmethod="get"
                           value="Cancel"
                           class="badge-pill badge-primary"/>
                </td>
            </tr>
        </table>
    </form>
</div>