@model Dog

@Html.Partial("DogSummary", Model)

<div class="align-content-lg-stretch">
    <div class="bg-faded p-1 text-lg-center">
        <h1 class="alert-danger">
            We are sorry you are about to delete @Model.Name. Are You Sure?
            <form method="post">
                <input type="hidden" asp-for="Id" />
                @*<input class="badge badge-danger" type="submit" value="Delete &#x1F5D1" />*@
                <button class="badge badge-primary" asp-controller="Dog" asp-action="Index" formmethod="get">
                    Cancel
                </button>
                <button class="badge badge-danger" asp-controller="Dog" asp-action="Delete" type="submit" formmethod="post">
                    Delete &#x1F5D1
                </button>
                <!--
        <a asp-controller="Dog" asp-action="Delete" class="badge badge-danger" type="submit" value="Delete">Delete</a>
        <a asp-controller="Dog" asp-action="Index" class="badge badge-primary">Cancel</a>
        -->
            </form>
        </h1>

    </div>
</div>