@model DailyRoutine

<div class="col-lg-6">
    <h3 style="color:ghostwhite" class="badge-pill bg-primary text-center">Add Daily Routine</h3>
</div>

<div class="container pl-sm-5">
    <form asp-controller="DailyRoutine" asp-action="Create">
        <input type="hidden" asp-for="DogId" />
        <table>
            <tr>
                <th> Date: </th>
                <td> <input asp-for="Date" asp-format="Date" value="@Model.DogId" type="date" class="form-control mr-sm-2" placeholder="Date" aria-label="Date" /></td>
            </tr>
            <tr>
                <th> Food: </th>
                <td> <input asp-for="Food" class="form-control mr-sm-2" placeholder="Food" aria-label="Food" /></td>
            </tr>
            <tr>
                <th> Poop Count: </th>
                <td> <input asp-for="Poop" class="form-control mr-sm-2" placeholder="Poop" aria-label="Poop" /></td>
            </tr>
            <tr>
                <th> Pee Count: </th>
                <td> <input asp-for="Pee" class="form-control mr-sm-2" placeholder="Pee" aria-label="Pee" /></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="Add Daily Routine" class="badge-pill badge-primary" />
                    <input type="submit"
                           asp-controller="Dog"
                           asp-action="Detail"
                           formmethod="get"
                           value="Cancel"
                           class="badge-pill badge-primary"
                           asp-route-id="@Model.DogId" />
                </td>
            </tr>
        </table>
    </form>
</div>
